{% extends 'layouts/base_auth.html' %}

{% block auth_content %}
    <p class="text-center text-muted mb-4 small-caps fw-bold label-spacing">¡Hola de nuevo!</p>
    
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label text-muted small fw-bold label-spacing">USUARIO</label>
            <input type="text" name="username" class="form-control" placeholder="Tu usuario" required>
        </div>
        
        <div class="mb-4">
            <div class="d-flex justify-content-between align-items-center mb-1">
                <label class="form-label text-muted small fw-bold label-spacing mb-0">CONTRASEÑA</label>
            </div>
            <input type="password" name="password" class="form-control" placeholder="••••••••" required>
            <div class="text-end mt-1">
                <a href="{% url 'password_reset' %}" class="text-decoration-none small text-muted fw-semibold" style="color: var(--primary-green) !important; font-size: 0.75rem;">He olvidado mi contraseña</a>
            </div>
        </div>
        
        <button class="btn btn-primary w-100 py-3" type="submit">
            ENTRAR
        </button>
    </form>
    
    <div class="mt-4 text-center">
        <a href="{% url 'registro' %}" class="text-decoration-none fw-bold text-primary small">Crear cuenta nueva</a>
    </div>
{% endblock %}