{% extends 'layouts/base_auth.html' %}

{% block auth_content %}
    <p class="text-center text-muted mb-4 small-caps fw-bold label-spacing">Recuperar Contraseña</p>
    
    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label class="form-label text-muted small fw-bold label-spacing">CORREO ELECTRÓNICO</label>
            <input type="email" name="email" class="form-control" placeholder="tu@correo.com" required>
            <small class="form-text text-muted d-block mt-2">Te enviaremos un enlace para restablecer tu contraseña.</small>
        </div>
        
        <button class="btn btn-primary w-100 py-3" type="submit">
            ENVIAR ENLACE
        </button>
    </form>
    
    <div class="mt-4 text-center">
        <a href="{% url 'login' %}" class="text-decoration-none fw-bold text-primary small">Volver al inicio de sesión</a>
    </div>
{% endblock %}